<%= simple_form_for(@blog) do |f| %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
  <%= f.error_notification %>


    <%= f.input :title %>
    <%= f.input :sub_title %>
    <%= f.input :body %>
    <%= f.input :thumbnail, as: :file %>


  <div class="form-actions">
    <%= f.submit :submit %>
  </div>
<% end %>
