<!-- BLOG-SINGLE -->
<div class="sp-body">
	<div class="body">
		<div class="inner-content">
			<div class="page-wrapper" >
				<div id="blog-single">
					<!-- Post header -->
					<div id="post-header" class="parallax-parent">
						<!-- Header image -->
						<div  class="image-holder">
							<div class="header-cover", style="height:500px;">
                <%= image_tag "banner_blog.jpg", class: "img-fit"  %>
							</div>
						</div>

<!-- BLOG-SINGLE -->
<!-- NEWS / BLOG -->
<div id="news-wrap">
	<div class="container">
		<div class="section-head text-center">
			<h2>Latest Blog News today</h2>
			<h5>Get the latest news on your Favorite Entertainment </h5>
		</div>

		<section class="news-main" id="news-main">
			<div class="container">
				<div class="row">
					<div id="news-grid">
              <% @blogs.each do |blog| %>
						<div class="news-item col-md-4">
							<div class="ni-wrap">
                <%= image_tag blog.thumbnail.url(:medium), class: "img-responsive" %>
								<h4><%= raw(blog.title) %></h4>
								<div class="news-meta">
									<span><i class="fa fa-clock-o"></i> Feb 7, 2016</span>
									<span><i class="fa fa-user"></i> Admin</span>
									<span><i class="fa fa-comments"></i> <a href="#">4 Comments</a></span>
								</div>
								<p><%=raw(blog.sub_title) %></p>
							<%= link_to 'View More', blog, class: "btn btn-default btn-xs" %>
							</div>
						</div>
            <% end %>

					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class:"text-center"><%= link_to 'New Blog', new_blog_path, class: "btn btn-success" %></div>
<!-- NEWS / BLOG -->
</div>
<!-- BLOG-SINGLE -->
