
<!-- INTRO -->
<div id="intro">
	<div class="container">
		<div class="col-md-12 text-center">
			<h3>Connecting Our World Through Music</h3>
			<h1>Welcome to the Afrizone Hub</h1>
			<p>We have made the perfect music and Lyrics App. You can find our app on andriod and Icloud</p>
			<div class="dual-btns">
				<a href="#" class="btn btn-default">Download App</a>
				<a href="#" class="btn btn-border">Explore</a>
			</div>
		</div>
	</div>
</div>
<!-- INTRO -->

<div class="wrapper">

<!-- SERVICES -->
<div id="services">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3">
				<div class="icon-box">
					<i class="play-music"></i>
					<h3>Custom Player</h3>
					<p>You have the ability to customize your player to your taste</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="icon-box">
					<i class="play-pen"></i>
					<h3>Easy Customize</h3>
					<p>You can easily modify and customize your app .</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="icon-box">
					<i class="play-vynil"></i>
					<h3>Music Playlist</h3>
					<p>Make a Playlist that defines you and your abilites.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="icon-box">
					<i class="play-photo2"></i>
					<h3>Custom genere</h3>
					<p>.Customize the list of song that matches your explict taste</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- SERVICES -->
<!-- ALBUMS -->
<div id="albums">
	<div class="section-head text-center">
		<h2>Our Albums</h2>
		<h5>Create Beautiful Albums with the Awesome Musik theme</h5>
	</div>


		<!-- Album Item -->
		<div class="col-md-3 col-sm-6 album-card-wrap nopadding">
			<% Genre.all.each do |genre| %>
			<div class="album-card">
				<div class="image hoverdir-target">
					<%= image_tag genre.thumbnail.url(:medium) %>
					<div class="overlay" >
						<div class="button-wrapper" >
							<div class="view-button" >
								<a class="link" href="single-album.html">
									<%= link_to genre.name, albums_path(genre: genre.name) do %>
									<span><strong class="bold"></strong><br>Album</span>
										<% end %>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			  <% end %>
		</div>

<!-- ALBUMS -->

<!-- NEWS / BLOG -->
<div id="news-wrap">
	<div class="container">
		<div class="section-head text-center">
			<h2>Latest Blog News today</h2>
			<h5>Morbi sollic itudin eros erat id pharetra libero fringilla quis.</h5>
		</div>

		<section class="news-main" id="news-main">
			<div class="container">
				<div class="row">
					<div id="news-grid">
						<div class="news-item col-md-4">
							<div class="ni-wrap">
								<%= image_tag '1.jpg', class: 'img-responsive ' %>
								<h4><a href="single-blog-fullwidth.html">Meet our musik stars</a></h4>
								<div class="news-meta">
									<span><i class="fa fa-clock-o"></i> Feb 7, 2016</span>
									<span><i class="fa fa-user"></i> Admin</span>
									<span><i class="fa fa-comments"></i> <a href="#">4 Comments</a></span>
								</div>
								<p>Donec accumsan enim quis metus convallis risus volutpat non. Aenean eu sollicitudin lacus. Ut tristique neque sed nibh aliquam, quis tincidunt nibh posuere. Nulla at mauris libero.</p>
								<a href="#" class="btn btn-default btn-xs">Read More</a>
							</div>
						</div>

						<div class="news-item col-md-4">
							<div class="ni-wrap">
								<%= image_tag '2.jpg', class: 'img-responsive ' %>
								<h4><a href="single-blog-fullwidth.html">Live with musik concert</a></h4>
								<div class="news-meta">
									<span><i class="fa fa-clock-o"></i> Mar 15, 2016</span>
									<span><i class="fa fa-user"></i> Admin</span>
									<span><i class="fa fa-comments"></i> <a href="#">4 Comments</a></span>
								</div>
								<p>Donec accumsan enim quis metus convallis risus volutpat non. Aenean eu sollicitudin lacus. Ut tristique neque sed nibh aliquam, quis tincidunt nibh posuere. Nulla at mauris libero.</p>
								<a href="#" class="btn btn-default btn-xs">Read More</a>
							</div>
						</div>

						<div class="news-item col-md-4">
							<div class="ni-wrap">
								<%= image_tag '3.jpg', class: 'img-responsive ' %>
								<h4><a href="single-blog-fullwidth.html">Its party time</a></h4>
								<div class="news-meta">
									<span><i class="fa fa-clock-o"></i> Apr 22, 2016</span>
									<span><i class="fa fa-user"></i> Admin</span>
									<span><i class="fa fa-comments"></i> <a href="#">4 Comments</a></span>
								</div>
								<p>Donec accumsan enim quis metus convallis risus volutpat non. Aenean eu sollicitudin lacus. Ut tristique neque sed nibh aliquam, quis tincidunt nibh posuere. Nulla at mauris libero.</p>
								<a href="#" class="btn btn-default btn-xs">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- NEWS / BLOG -->

<!-- PLAYLIST -->
<div class="playlist-wrap" id="playlist">
	<div>
		<div class="content-wrapper fixed left"></div>

		<div class="content-wrapper right" >
			<div class="content-container">
				<div id="jquery_jplayer" class="jp-jplayer"></div>
				<div id="jp_container" class="jp-audio" role="application" aria-label="media player">
					<div class="jp-type-playlist">
						<div class="jp-gui jp-interface">
							<div class="jp-controls">
								<button class="jp-previous" role="button" tabindex="0">previous</button>
								<button class="jp-play" role="button" tabindex="0">play</button>
								<button class="jp-next" role="button" tabindex="0">next</button>
								<button class="jp-stop" role="button" tabindex="0">stop</button>
							</div>
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<div class="jp-volume-controls">
								<button class="jp-mute" role="button" tabindex="0">mute</button>
								<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
								<div class="jp-volume-bar">
									<div class="jp-volume-bar-value"></div>
								</div>
							</div>
							<div class="jp-time-holder">
								<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
								<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
							</div>
							<div class="jp-toggles">
								<button class="jp-repeat" role="button" tabindex="0">repeat</button>
								<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
							</div>
						</div>

						<div class="jp-playlist">
							<ul>
								<li>&nbsp;</li>
							</ul>
						</div>

						<!-- FlashPlayer Fallback-->
						<div class="jp-no-solution">
							<span>Update Required</span>
							To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
						</div>
						<!-- /FlashPlayer Fallback-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- PLAYLIST -->


<!-- TOURS -->
<div id="tours">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<%= image_tag 'mic.jpg', class: "img-responsive" %>
			</div>
			<div class="col-md-6">
				<div class="col-md-11">
					<h3>Upcoming Shows</h3>
					<ul class="tour-list">
						<li>
							<div class="tour-date">08<span>Jan<br><em>2016</em></span></div>
							<div class="tour-info">Melbourne, AU - <a href="#">Rock hall</a></div>
							<div class="tour-ticket"><a href="#">Buy Ticket</a></div>
						</li>
						<li>
							<div class="tour-date">08<span>Jan<br><em>2016</em></span></div>
							<div class="tour-info">Melbourne, AU - <a href="#">Rock hall</a></div>
							<div class="tour-ticket"><a href="#">Buy Ticket</a></div>
						</li>
						<li>
							<div class="tour-date">08<span>Jan<br><em>2016</em></span></div>
							<div class="tour-info">Melbourne, AU - <a href="#">Rock hall</a></div>
							<div class="tour-ticket"><a href="#">Buy Ticket</a></div>
						</li>
						<li>
							<div class="tour-date">08<span>Jan<br><em>2016</em></span></div>
							<div class="tour-info">Melbourne, AU - <a href="#">Rock hall</a></div>
							<div class="tour-ticket"><a href="#">Buy Ticket</a></div>
						</li>
						<li>
							<div class="tour-date">08<span>Jan<br><em>2016</em></span></div>
							<div class="tour-info">Melbourne, AU - <a href="#">Rock hall</a></div>
							<div class="tour-ticket"><a href="#">Buy Ticket</a></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- TOURS -->

<!-- GALLERY / PORTFOLIO -->
<div class="folio section active" id="gallery">
	<div class="section-head text-center">
		<h2>Check our gallery</h2>
		<h5>Morbi sollic itudin eros erat id pharetra libero fringilla quis.</h5>
	</div>

	<!-- Portfolio -->
	<div class="clearfix portfolio-wrapper">
		<div id="portfolio-holder" class="clearfix">
			<ul id="portfolio">
				<!-- Portfolio Item -->
				<li class="item hover-image-holder col-md-3">
					<a href="images/portfolio/1.jpg" class="prettyPhoto">
						<img src="images/portfolio/1.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-search"></i>
						</div>
					</a>
				</li>

				<!-- Portfolio Item -->
				<li class="item hover-image-holder col-md-3">
					<a href="images/portfolio/2.jpg" class="prettyPhoto">
						<img  src="images/portfolio/2.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-search"></i>
						</div>
					</a>
				</li>

				<!-- Portfolio Item -->
				<li class="item hover-image-holder col-md-3">
					<a href="images/portfolio/3.jpg" class="prettyPhoto">
						<img  src="images/portfolio/3.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-search"></i>
						</div>
					</a>
				</li>

				<!-- Portfolio Item -->
				<li class="item hover-image-holder col-md-3">
					<a href="images/portfolio/4.jpg" class="prettyPhoto">
						<img  src="images/portfolio/4.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-search"></i>
						</div>
					</a>
				</li>

				<!-- Portfolio Item -->
				<li class="item hover-image-holder col-md-3">
					<a href="images/portfolio/5.jpg" class="prettyPhoto">
						<img  src="images/portfolio/5.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-search"></i>
						</div>
					</a>
				</li>

				<!-- Portfolio Item -->
				<li class="item hover-image-holder col-md-3">
					<a href="images/portfolio/6.jpg" class="prettyPhoto">
						<img  src="images/portfolio/6.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-search"></i>
						</div>
					</a>
				</li>

				<!-- Portfolio Item -->
				<li class="item hover-image-holder col-md-3">
					<a href="images/portfolio/7.jpg" class="prettyPhoto">
						<img  src="images/portfolio/7.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-search"></i>
						</div>
					</a>
				</li>

				<!-- Portfolio Item -->
				<li class="item hover-image-holder col-md-3">
					<a href="images/portfolio/8.jpg" class="prettyPhoto">
						<img  src="images/portfolio/8.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-search"></i>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- GALLERY / PORTFOLIO -->

<!-- CONTACT -->
<div id="contact">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<h3>Contact Us</h3>
			<p><strong>For booking or any other information, fee free to get in touch!</strong></p>
					<!---make a contact us button -->

		</div>
	</div>
</div>
<!-- CONTACT -->

<!-- TWEETS -->
<div class="twitter-wrap">
	<div class="container">
		<div id="tweecool"></div>
	</div>
</div>
<!-- TWEETS -->

<!-- CLIENTS -->
<div class="music-social-icons-container">
	<div class="music-social-icons text-center">
		<a href="#"><img src="images/clients/amazon.png" alt="" /></a>
		<a href="#"><img src="images/clients/bandcamp.png" alt="" /></a>
		<a href="#"><img src="images/clients/beatport.png" alt="" /></a>
		<a href="#"><img src="images/clients/bigcartel.png" alt="" /></a>
		<a href="#"><img src="images/clients/cdbaby.png" alt="" /></a>
		<a href="#"><img src="images/clients/emusic.png" alt="" /></a>
		<a href="#"><img src="images/clients/facebook.png" alt="" /></a>
		<a href="#"><img src="images/clients/google.png" alt="" /></a>
		<a href="#"><img src="images/clients/ilike.png" alt="" /></a>
		<a href="#"><img src="images/clients/itunes.png" alt="" /></a>
		<a href="#"><img src="images/clients/lastfm.png" alt="" ></a>
		<a href="#"><img src="images/clients/mixcloud.png" alt="" /></a>
		<a href="#"><img src="images/clients/myspace.png" alt="" /></a>
		<a href="#"><img src="images/clients/purevolume.png" alt="" /></a>
		<a href="#"><img src="images/clients/residentadvisor.png" alt="" /></a>
		<a href="#"><img src="images/clients/reverbnation.png" alt="" /></a>
		<a href="#"><img src="images/clients/soundcloud.png" alt="" /></a>
		<a href="#"><img src="images/clients/spotify.png" alt="" /></a>
		<a href="#"><img src="images/clients/triplej.png" alt="" /></a>
		<a href="#"><img src="images/clients/twitter.png" alt="" /></a>
		<a href="#"><img src="images/clients/unsigned.png" alt="" /></a>
		<a href="#"><img src="images/clients/vimeo.png" alt="" /></a>
		<a href="#"><img src="images/clients/youtube.png" alt="" /></a>
		<a href="#"><img src="images/clients/zune.png" alt="" /></a>
	</div>
</div>
<!-- CLIENTS -->
